<ion-header>
    <ion-toolbar>
      <ion-title>Music</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-card>
          <img src="https://images.pexels.com/photos/371836/pexels-photo-371836.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <ion-card-header>
          
          </ion-card-header>
        </ion-card>

    <ion-slides #slides>
  
      <ion-slide>
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle color="primary">{{musicQuestions[0]}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                
  
                <ion-list>
                  <ion-radio-group [(ngModel)]="radioBtn0" >
                
                    <ion-item>
                      <ion-label>{{musicAnswers[0]}}</ion-label>
                      <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[0]}}" ></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Oboe</ion-label>
                      <ion-radio   (click)="wrongAnswer()" value="Oboe"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Trombone</ion-label>
                      <ion-radio   (click)="wrongAnswer1()" value="Trombone"></ion-radio>
                    </ion-item>
    
                    <ion-item>
                      <ion-label>Duduk</ion-label>
                      <ion-radio   (click)="wrongAnswer2()" value="Duduk"></ion-radio>
                    </ion-item>
                    
                  </ion-radio-group>
                </ion-list>
              </ion-card-content>
  
            </ion-card>
      </ion-slide>
      
      <ion-slide>
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle color="primary">{{musicQuestions[1]}}</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  
    
                  <ion-list>
                    <ion-radio-group [(ngModel)]="radioBtn1" >
                  
                      <ion-item>
                        <ion-label>Windowlicker</ion-label>
                        <ion-radio   (click)="wrongAnswer2()" value="Windowlicker" ></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Syro</ion-label>
                        <ion-radio   (click)="wrongAnswer()" value="Syro"></ion-radio>
                      </ion-item>
      
                      <ion-item>
                        <ion-label>Collected Ambient Works</ion-label>
                        <ion-radio   (click)="wrongAnswer1()" value="Collected Ambient Works 85-92"></ion-radio>
                      </ion-item>
  
                      <ion-item>
                          <ion-label>{{musicAnswers[1]}}</ion-label>
                          <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[1]}}" ></ion-radio>
                        </ion-item>
                      
                    </ion-radio-group>
                  </ion-list>
                </ion-card-content>
            </ion-card>
            
      </ion-slide>
  
      <ion-slide>
      <ion-card>
          <ion-card-header>
              <ion-card-subtitle color="primary">{{musicQuestions[2]}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-list>
                <ion-radio-group [(ngModel)]="radioBtn2" >
              
                  <ion-item>
                    <ion-label>{{musicAnswers[2]}}</ion-label>
                    <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[2]}}" ></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Back in Black</ion-label>
                    <ion-radio   (click)="wrongAnswer()" value="Back in Black" ></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Abbey Road</ion-label>
                    <ion-radio   (click)="wrongAnswer2()" value="Abbey Road"></ion-radio>
                  </ion-item>
  
                  <ion-item>
                    <ion-label>The Dark Side of the Moon</ion-label>
                    <ion-radio   (click)="wrongAnswer1()" value="The Dark Side of the Moon"></ion-radio>
                  </ion-item>
                  
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
  </ion-card>
  
      </ion-slide>
  
      <ion-slide>
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle color="primary">{{musicQuestions[3]}}</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  
    
                  <ion-list>
                    <ion-radio-group [(ngModel)]="radioBtn3" >
                  
                      <ion-item>
                        <ion-label>{{musicAnswers[3]}}</ion-label>
                        <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[3]}}" ></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Ringo Starr</ion-label>
                        <ion-radio   (click)="wrongAnswer()" value="Ringo Starr" ></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Stuart Sutcliffe</ion-label>
                        <ion-radio   (click)="wrongAnswer1()" value="Stuart Sutcliffe"></ion-radio>
                      </ion-item>
      
                      <ion-item>
                        <ion-label>Pete Best</ion-label>
                        <ion-radio   (click)="wrongAnswer2()" value="Pete Best"></ion-radio>
                      </ion-item>
                      
                    </ion-radio-group>
                  </ion-list>
                </ion-card-content>
            </ion-card>
             
        </ion-slide>
  
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle color="primary">{{musicQuestions[4]}}</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                  
                    <ion-list>
                      <ion-radio-group [(ngModel)]="radioBtn4" >
                    
                        <ion-item>
                          <ion-label>{{musicAnswers[4]}}</ion-label>
                          <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[4]}}" ></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Geddy Lee</ion-label>
                          <ion-radio   (click)="wrongAnswer()" value="Geddy Lee" ></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Alex Lifeson</ion-label>
                          <ion-radio   (click)="wrongAnswer1()" value="Alex Lifeson"></ion-radio>
                        </ion-item>
        
                        <ion-item>
                          <ion-label>John Rutsey</ion-label>
                          <ion-radio   (click)="wrongAnswer2()" value="John Rutsey"></ion-radio>
                        </ion-item>
                        
                      </ion-radio-group>
                    </ion-list>
                  </ion-card-content>
              </ion-card>
           
          </ion-slide>
  
          <ion-slide>
              <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle color="primary">{{musicQuestions[5]}}</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content>
                      <ion-list>
                        <ion-radio-group [(ngModel)]="radioBtn5" >
                      
                          <ion-item>
                            <ion-label>{{musicAnswers[5]}}</ion-label>
                            <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[5]}}" ></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                            <ion-label>Why Don't We Do It in the Road?</ion-label>
                            <ion-radio   (click)="wrongAnswer()" value="Why Don't We Do It in the Road?" ></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                            <ion-label>Everybody's Got Something to Hide Except Me and My Monkey</ion-label>
                            <ion-radio   (click)="wrongAnswer1()" value="Everybody's Got Something to Hide Except Me and My Monkey"></ion-radio>
                          </ion-item>
          
                          <ion-item>
                            <ion-label>The Continuing Story of Bungalow Bill</ion-label>
                            <ion-radio   (click)="wrongAnswer2()" value="The Continuing Story of Bungalow Bill"></ion-radio>
                          </ion-item>
                          
                        </ion-radio-group>
                      </ion-list>
                    </ion-card-content>
                </ion-card>
                
            </ion-slide>
  
            <ion-slide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle color="primary">{{musicQuestions[6]}}</ion-card-subtitle>
                      </ion-card-header>
                    
                      <ion-card-content>
                        <ion-list>
                          <ion-radio-group [(ngModel)]="radioBtn6" >
                        
                            <ion-item>
                              <ion-label>{{musicAnswers[6]}}</ion-label>
                              <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[6]}}" ></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>Public Enemy</ion-label>
                              <ion-radio   (click)="wrongAnswer()" value="Public Enemy" ></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>OutKast</ion-label>
                              <ion-radio   (click)="wrongAnswer1()" value="OutKast"></ion-radio>
                            </ion-item>
            
                            <ion-item>
                              <ion-label>Cypress Hill</ion-label>
                              <ion-radio   (click)="wrongAnswer2()" value="Cypress Hill"></ion-radio>
                            </ion-item>
                            
                          </ion-radio-group>
                        </ion-list>
                      </ion-card-content>
                  </ion-card>
                
              </ion-slide>
  
              <ion-slide>
                  <ion-card>
                      <ion-card-header>
                          <ion-card-subtitle color="primary">{{musicQuestions[7]}}</ion-card-subtitle>
                        </ion-card-header>
                      
                        <ion-card-content>
                          
                          <ion-list>
                            <ion-radio-group [(ngModel)]="radioBtn7" >
                          
                              <ion-item>
                                <ion-label>{{musicAnswers[7]}}</ion-label>
                                <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[7]}}" ></ion-radio>
                              </ion-item>
                          
                              <ion-item>
                                <ion-label>Anna Yvette</ion-label>
                                <ion-radio   (click)="wrongAnswer()" value="Anna Yvette" ></ion-radio>
                              </ion-item>
                          
                              <ion-item>
                                <ion-label>Danyka Nadeau</ion-label>
                                <ion-radio   (click)="wrongAnswer1()" value="Danyka Nadeau"></ion-radio>
                              </ion-item>
              
                              <ion-item>
                                <ion-label>Veela</ion-label>
                                <ion-radio   (click)="wrongAnswer2()" value="Veela"></ion-radio>
                              </ion-item>
                              
                            </ion-radio-group>
                          </ion-list>
                        </ion-card-content>
                    </ion-card>
                   
                </ion-slide>
  
                <ion-slide>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle color="primary">{{musicQuestions[8]}}</ion-card-subtitle>
                          </ion-card-header>
                        
                          <ion-card-content>
                            
                            <ion-list>
                              <ion-radio-group [(ngModel)]="radioBtn8" >
                            
                                <ion-item>
                                  <ion-label>{{musicAnswers[8]}}</ion-label>
                                  <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[8]}}" ></ion-radio>
                                </ion-item>
                            
                                <ion-item>
                                  <ion-label>Ummagumma</ion-label>
                                  <ion-radio   (click)="wrongAnswer()" value="Ummagumma" ></ion-radio>
                                </ion-item>
                            
                                <ion-item>
                                  <ion-label>More</ion-label>
                                  <ion-radio   (click)="wrongAnswer1()" value="More"></ion-radio>
                                </ion-item>
                
                                <ion-item>
                                  <ion-label>Atom Heart Mother</ion-label>
                                  <ion-radio   (click)="wrongAnswer2()" value="Atom Heart Mother"></ion-radio>
                                </ion-item>
                                
                              </ion-radio-group>
                            </ion-list>
                          </ion-card-content>
                      </ion-card>
                     
                  </ion-slide>
  
                  <ion-slide>
                      <ion-card>
                          <ion-card-header>
                              <ion-card-subtitle color="primary">{{musicQuestions[9]}}</ion-card-subtitle>
                            </ion-card-header>
                          
                            <ion-card-content>
                            
                              <ion-list>
                                <ion-radio-group [(ngModel)]="radioBtn9" >
                              
                                  <ion-item>
                                    <ion-label>{{musicAnswers[9]}}</ion-label>
                                    <ion-radio   (click)="rightAnswer()" value="{{musicAnswers[9]}}" ></ion-radio>
                                  </ion-item>
                              
                                  <ion-item>
                                    <ion-label>Textuell</ion-label>
                                    <ion-radio   (click)="wrongAnswer()" value="Textuell" ></ion-radio>
                                  </ion-item>
                              
                                  <ion-item>
                                    <ion-label>Panorama</ion-label>
                                    <ion-radio   (click)="wrongAnswer1()" value="Panorama"></ion-radio>
                                  </ion-item>
                  
                                  <ion-item>
                                    <ion-label>Do While</ion-label>
                                    <ion-radio   (click)="wrongAnswer2()" value="Do While"></ion-radio>
                                  </ion-item>
                                  
                                </ion-radio-group>
                              </ion-list>
                            </ion-card-content>
                        </ion-card> 
                 
                    </ion-slide>
                    <ion-slide>

                        <ion-button color="primary" size="large" expand="full" (click)="toResults()">Check Score</ion-button>
                        <br> 
                        <ion-button color="primary" size="large" expand="full" (click)="restart()">Restart</ion-button>
                        
                        <!-- <ion-button color="primary" (click)="reset()">Reset!</ion-button> -->
        
        </ion-slide>
    </ion-slides>
    
    <!-- <button class="btn" ion-button color="primary" (click)="changeSlide()">Next Question!</button> -->
  </ion-content>
  