<ion-header>
    <ion-toolbar>
      <ion-title>Movie</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-card>
          <img src="https://images.pexels.com/photos/2335050/pexels-photo-2335050.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <ion-card-header>
          
          </ion-card-header>
        </ion-card>

    <ion-slides #slides>
  
      <ion-slide>
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle color="primary">{{movieQuestions[0]}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                
                <ion-list>
                  <ion-radio-group [(ngModel)]="radioBtn0" >
                
                    <ion-item>
                      <ion-label>{{movieAnswers[0]}}</ion-label>
                      <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[0]}}" ></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Dennis Quaid</ion-label>
                      <ion-radio   (click)="wrongAnswer()" value="Dennis Quaid" ></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Pete Postlethwaite</ion-label>
                      <ion-radio   (click)="wrongAnswer1()" value="Pete Postlethwaite"></ion-radio>
                    </ion-item>
    
                    <ion-item>
                      <ion-label>Brian Thompson</ion-label>
                      <ion-radio   (click)="wrongAnswer2()" value="Brian Thompson"></ion-radio>
                    </ion-item>
                    
                  </ion-radio-group>
                </ion-list>
              </ion-card-content>
  
            </ion-card>
      </ion-slide>
      
      <ion-slide>
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle color="primary">{{movieQuestions[1]}}</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  <ion-list>
                    <ion-radio-group [(ngModel)]="radioBtn1" >
                  
                      <ion-item>
                        <ion-label>Dr. Julius No</ion-label>
                        <ion-radio   (click)="wrongAnswer()" value="Dr. Julius No" ></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Rosa Klebb</ion-label>
                        <ion-radio   (click)="wrongAnswer1()" value="Rosa Klebb"></ion-radio>
                      </ion-item>
      
                      <ion-item>
                        <ion-label>Emilio Largo</ion-label>
                        <ion-radio   (click)="wrongAnswer2()" value="Emilio Largo"></ion-radio>
                      </ion-item>
  
                      <ion-item>
                          <ion-label>{{movieAnswers[1]}}</ion-label>
                          <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[1]}}" ></ion-radio>
                        </ion-item>
                      
                    </ion-radio-group>
                  </ion-list>
                </ion-card-content>
            </ion-card>
            
      </ion-slide>
  
      <ion-slide>
      <ion-card>
          <ion-card-header>
              <ion-card-subtitle color="primary">{{movieQuestions[2]}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              <ion-list>
                <ion-radio-group [(ngModel)]="radioBtn2" >
              
                  <ion-item>
                    <ion-label>{{movieAnswers[2]}}</ion-label>
                    <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[2]}}" ></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Klaus Werner von Krupt</ion-label>
                    <ion-radio   (click)="wrongAnswer()" value="Klaus Werner von Krupt" ></ion-radio>
                  </ion-item>
              
                  <ion-item>
                    <ion-label>Grigori Efimovich Rasputin</ion-label>
                    <ion-radio   (click)="wrongAnswer1()" value="Grigori Efimovich Rasputin"></ion-radio>
                  </ion-item>
  
                  <ion-item>
                    <ion-label>Ilsa Haupstein</ion-label>
                    <ion-radio   (click)="wrongAnswer2()" value="Ilsa Haupstein"></ion-radio>
                  </ion-item>
                  
                </ion-radio-group>
              </ion-list>
            </ion-card-content>
  </ion-card>
  
      </ion-slide>
  
      <ion-slide>
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle color="primary">{{movieQuestions[3]}}</ion-card-subtitle>
                </ion-card-header>
              
                <ion-card-content>
                  <ion-list>
                    <ion-radio-group [(ngModel)]="radioBtn3" >
                  
                      <ion-item>
                        <ion-label>{{movieAnswers[3]}}</ion-label>
                        <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[3]}}" ></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Hop</ion-label>
                        <ion-radio   (click)="wrongAnswer()" value="Hop" ></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Rise of the Guardians</ion-label>
                        <ion-radio   (click)="wrongAnswer1()" value="Rise of the Guardians"></ion-radio>
                      </ion-item>
      
                      <ion-item>
                        <ion-label>Alice in Wonderland</ion-label>
                        <ion-radio   (click)="wrongAnswer2()" value="Alice in Wonderland"></ion-radio>
                      </ion-item>
                      
                    </ion-radio-group>
                  </ion-list>
                </ion-card-content>
            </ion-card>
             
        </ion-slide>
  
        <ion-slide>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle color="primary">{{movieQuestions[4]}}</ion-card-subtitle>
                  </ion-card-header>
                
                  <ion-card-content>
                  
                    <ion-list>
                      <ion-radio-group [(ngModel)]="radioBtn4" >
                    
                        <ion-item>
                          <ion-label>{{movieAnswers[4]}}</ion-label>
                          <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[4]}}" ></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Alec Guinness</ion-label>
                          <ion-radio   (click)="wrongAnswer()" value="Alec Guinness" ></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Hayden Christensen</ion-label>
                          <ion-radio   (click)="wrongAnswer()" value="Hayden Christensen"></ion-radio>
                        </ion-item>
        
                        <ion-item>
                          <ion-label>Liam Neeson</ion-label>
                          <ion-radio   (click)="wrongAnswer2()" value="Liam Neeson"></ion-radio>
                        </ion-item>
                        
                      </ion-radio-group>
                    </ion-list>
                  </ion-card-content>
              </ion-card>
           
          </ion-slide>
  
          <ion-slide>
              <ion-card>
                  <ion-card-header>
                      <ion-card-subtitle color="primary">{{movieQuestions[5]}}</ion-card-subtitle>
                    </ion-card-header>
                  
                    <ion-card-content>
                      <ion-list>
                        <ion-radio-group [(ngModel)]="radioBtn5" >
                      
                          <ion-item>
                            <ion-label>{{movieAnswers[5]}}</ion-label>
                            <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[5]}}" ></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                            <ion-label>Luke, I am your father</ion-label>
                            <ion-radio   (click)="wrongAnswer()" value="Luke, I am your father" ></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                            <ion-label>You're wrong. I am your father</ion-label>
                            <ion-radio   (click)="wrongAnswer1()" value="You're wrong. I am your father"></ion-radio>
                          </ion-item>
          
                          <ion-item>
                            <ion-label>The truth is that I am your father</ion-label>
                            <ion-radio   (click)="wrongAnswer2()" value="The truth is that I am your father"></ion-radio>
                          </ion-item>
                          
                        </ion-radio-group>
                      </ion-list>
                    </ion-card-content>
                </ion-card>
                
            </ion-slide>
  
            <ion-slide>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle color="primary">{{movieQuestions[6]}}</ion-card-subtitle>
                      </ion-card-header>
                    
                      <ion-card-content>
                        
          
                        <ion-list>
                          <ion-radio-group [(ngModel)]="radioBtn6" >
                        
                            <ion-item>
                              <ion-label>{{movieAnswers[6]}}</ion-label>
                              <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[6]}}" ></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>After Episode 6</ion-label>
                              <ion-radio   (click)="wrongAnswer()" value="After Episode 6" ></ion-radio>
                            </ion-item>
                        
                            <ion-item>
                              <ion-label>Before Episode 1</ion-label>
                              <ion-radio   (click)="wrongAnswer1()" value="Before Episode 1"></ion-radio>
                            </ion-item>
            
                            <ion-item>
                              <ion-label>Between Episode 4 and 5</ion-label>
                              <ion-radio   (click)="wrongAnswer2()" value="Between Episode 4 and 5"></ion-radio>
                            </ion-item>
                            
                          </ion-radio-group>
                        </ion-list>
                      </ion-card-content>
                  </ion-card>
                
              </ion-slide>
  
              <ion-slide>
                  <ion-card>
                      <ion-card-header>
                          <ion-card-subtitle color="primary">{{movieQuestions[7]}}</ion-card-subtitle>
                        </ion-card-header>
                      
                        <ion-card-content>
                          
                          <ion-list>
                            <ion-radio-group [(ngModel)]="radioBtn7" >
                          
                              <ion-item>
                                <ion-label>{{movieAnswers[7]}}</ion-label>
                                <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[7]}}" ></ion-radio>
                              </ion-item>
                          
                              <ion-item>
                                <ion-label>Old Dogs</ion-label>
                                <ion-radio   (click)="wrongAnswer()" value="Old Dogs" ></ion-radio>
                              </ion-item>
                          
                              <ion-item>
                                <ion-label>Jumanji</ion-label>
                                <ion-radio   (click)="wrongAnswer1()" value="Jumanji"></ion-radio>
                              </ion-item>
              
                              <ion-item>
                                <ion-label>Awakenings</ion-label>
                                <ion-radio   (click)="wrongAnswer2()" value="Awakenings"></ion-radio>
                              </ion-item>
                              
                            </ion-radio-group>
                          </ion-list>
                        </ion-card-content>
                    </ion-card>
                   
                </ion-slide>
  
                <ion-slide>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle color="primary">{{movieQuestions[8]}}</ion-card-subtitle>
                          </ion-card-header>
                        
                          <ion-card-content>
                            
                            <ion-list>
                              <ion-radio-group [(ngModel)]="radioBtn8" >
                            
                                <ion-item>
                                  <ion-label>{{movieAnswers[8]}}</ion-label>
                                  <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[8]}}" ></ion-radio>
                                </ion-item>
                            
                                <ion-item>
                                  <ion-label>Gnarly.</ion-label>
                                  <ion-radio   (click)="wrongAnswer()" value="Gnarly." ></ion-radio>
                                </ion-item>
                            
                                <ion-item>
                                  <ion-label>Perfect.</ion-label>
                                  <ion-radio   (click)="wrongAnswer1()" value="Perfect."></ion-radio>
                                </ion-item>
                
                                <ion-item>
                                  <ion-label>Nice.</ion-label>
                                  <ion-radio   (click)="wrongAnswer2()" value="Nice."></ion-radio>
                                </ion-item>
                                
                              </ion-radio-group>
                            </ion-list>
                          </ion-card-content>
                      </ion-card>
                     
                  </ion-slide>
  
                  <ion-slide>
                      <ion-card>
                          <ion-card-header>
                              <ion-card-subtitle color="primary">{{movieQuestions[9]}}</ion-card-subtitle>
                            </ion-card-header>
                          
                            <ion-card-content>
                            
                              <ion-list>
                                <ion-radio-group [(ngModel)]="radioBtn9" >
                              
                                  <ion-item>
                                    <ion-label>{{movieAnswers[9]}}</ion-label>
                                    <ion-radio   (click)="rightAnswer()" value="{{movieAnswers[9]}}" ></ion-radio>
                                  </ion-item>
                              
                                  <ion-item>
                                    <ion-label>John</ion-label>
                                    <ion-radio   (click)="wrongAnswer()" value="John" ></ion-radio>
                                  </ion-item>
                              
                                  <ion-item>
                                    <ion-label>Will</ion-label>
                                    <ion-radio   (click)="wrongAnswer1()" value="Will"></ion-radio>
                                  </ion-item>
                  
                                  <ion-item>
                                    <ion-label>Carl</ion-label>
                                    <ion-radio   (click)="wrongAnswer2()" value="Carl"></ion-radio>
                                  </ion-item>
                                  
                                </ion-radio-group>
                              </ion-list>
                            </ion-card-content>
                        </ion-card> 
                        <!-- <button ion-button color="primary" (click)="checkScore()">Check Score!</button> -->
                    </ion-slide>
                    <ion-slide>

                        <ion-button color="primary" size="large" expand="full" (click)="toResults()">Check Score</ion-button>
                                <br> 
                                <ion-button color="primary" size="large" expand="full" (click)="restart()">Restart</ion-button>
                                
                                <!-- <ion-button color="primary" (click)="reset()">Reset!</ion-button> --> 
        </ion-slide>
    </ion-slides>
   
    <!-- <button class="btn" ion-button color="primary" (click)="changeSlide()">Next Question!</button> -->
  </ion-content>
  