<ion-header>
  
</ion-header>

<ion-content>
<br>
    <ion-content fullscreen>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Quiz Rules</ion-card-subtitle>
              </ion-card-header>
          <img src="https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
          <ion-card-header>
          
          </ion-card-header>
          <ion-card-content>
              Select one of three topics using the tabs below and complete the questions.<br>
              You need 50% for a pass.
              Goodluck!
          </ion-card-content>
        </ion-card>
      
      </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
    
      <ion-tab-button tab="history">
        <ion-icon name="school"></ion-icon>
        <ion-label>History</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="movie">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Movie</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="music">
        <ion-icon name="microphone"></ion-icon>
        <ion-label>Music</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
