<ion-header>
  
  </ion-header>
  
  <ion-content>
  <br>
      <ion-content fullscreen>
          <ion-card>
              <ion-card-header>
                  <ion-card-subtitle>Quiz Rules</ion-card-subtitle>
                </ion-card-header>
            <img src="https://freerangestock.com/thumbnail/49725/businessman-holding-a-virtual-brain-in-the-palm--skills-concept.jpg" />
            <ion-card-header>
            
            </ion-card-header>
            <ion-card-content>
                Select one of three topics using the tabs below and complete the questions. You can only go to the next question after completing the current question that you are on.<br>
                Goodluck!
            </ion-card-content>
          </ion-card>
        
        </ion-content>
  
  </ion-content>
  