<ion-header>
  <ion-toolbar>
    <ion-title>
      Quiz Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Name: </ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="https://images.pexels.com/photos/278887/pexels-photo-278887.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
        <ion-card-header>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-button color="primary" expand="full" (click)="nav()">Submit</ion-button>
    </ion-content>
  </ion-app>

</ion-content>
