<ion-header>
  <!-- <ion-toolbar>
    <ion-title>
      Quiz Test
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>

  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Quiz Test</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>
        <img src="https://freerangestock.com/thumbnail/49725/businessman-holding-a-virtual-brain-in-the-palm--skills-concept.jpg" />
        <ion-card-header>
          <!-- <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title> -->
        </ion-card-header>
        <ion-card-content>
          A quiz is a form of game or mind sport, in which the players (as individuals or in teams) attempt to answer questions correctly.<br><br> It is a game to test your knowledge about a certain subject.
           In some countries, a quiz is also a brief assessment used in education and similar fields to measure growth in knowledge, abilities, and/or skills.
        </ion-card-content>
      </ion-card>
      <br><br> <br><br><br>
      <ion-button color="primary" expand="full" shape="round" (click)="nav()">Proceed</ion-button>
    </ion-content>
  </ion-app>

</ion-content>
